@model TCCBarbearia.Models.Agendamento
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormAgendamento</title>
    <link rel="stylesheet" href="~/Scripts/FormAgendamentoStyle.css">
</head>
<body>
    <main>

        <div class="div-logo">

            <h1>Agendamento</h1>
        </div>

@using (Html.BeginForm("FormAgendamento", "Agendamento", FormMethod.Post))
{

            <div>
                <label for="">Nome:</label>
                <input type="text" value="@Session["nomeLogado"]" readonly />
            </div>

        <div>
            <label for="">Email:</label>
            <input type="text" value="@Session["emailLogado"]" readonly name="" id="">
        </div>

        <div>
            <label for="">Escolha um serviço:</label>
            <div class="div-radios">

                <div>
                    <label>
                        @Html.RadioButtonFor(m => m.servico, "CorteCabelo")
                        Corte de Cabelo
                    </label>
                </div>
                <div>
                    <label>
                        @Html.RadioButtonFor(m => m.servico, "Barba")
                        Barba
                    </label>
                </div>
                <div>
                    <label>
                        @Html.RadioButtonFor(m => m.servico, "CorteEBarba")
                        Corte e Barba
                    </label>
                </div>

            </div>
        </div>

        <div>
            <label for="">Data:</label>
            @Html.LabelFor(model => model.data, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.data, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div>
            <label for="">Horário:</label>
            @Html.EditorFor(model => model.horas, new { htmlAttributes = new { @class = "form-control" } })
        </div><button type="submit" class="btn-agendar">Agendar</button> 
}

    </main>

    <!-- IMAGEM -->

    <figure>

    </figure>

</body>
    
</html>


