
@{
    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home - Barbearia Paulista</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/HomePageCss.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/Hamburguer - Cópia .css" media="screen" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header class="header ">

        <div>

            <nav class="navbar">


                <nav>
                        <div class="nav-logo"></div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#servicos">Serviços</a></li>
                        <li><a href="#sobre">Sobre</a></li>
                        <li><a href="#localizacao">Localização</a></li>
                    </ul>

                </nav>

                @if (Session["emailLogado"] != null)
{
                    <div class="div-logado" onmouseover="showModal()">
                        <span class="material-symbols-outlined">
                            account_circle
                        </span>
                        <h3 class="text-logado"  >Olá, @Session["nomeLogado"]!</h3>
                    </div>

                   
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Cliente")" class="btn-login">

                            <div class="div-login">
                                <p>Entrar</p>
                                <span class="material-symbols-outlined">
                                    login
                                </span>
                            </div>
                        </a>
                    }

                <div class="menu-hamburguer">
                    <input type="checkbox" id="menu-hamburguer" class="input-menu-hamburguer">

                    <label for="menu-hamburguer">
                        <div class="menu">
                            <span class="hamburguer"></span>
                        </div>
                    </label>
                </div>

            </nav>
            
        <section class="modal-usuario" onmouseover="showModal()" onmouseout="hiddenModal()">
            <ul>


                <a href="@Url.Action("Conta", "Cliente", new {idLogado =  Session["codLogado"]})">
                <li>
                    <span class="material-symbols-outlined">
                        badge
                    </span>
                    Conta
                </li>
                </a>

                <a href="@Url.Action("AgendamentosConta", "Cliente", new { id = Session["codLogado"]}) ">
                <li>
                    <span class="material-symbols-outlined">
                        event_available
                    </span>
                    Agendamentos
                </li>
                </a>

                <a href="@Url.Action("Logout", "Cliente")">
                <li>
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    Sair
                </li>
                </a>

            </ul>    
         </section>

        </div>

    </header>




    @*MOBILE*@

    <nav class="navMobile">

        <h2>Menu</h2>

        <ul>

            @if (Session["emailLogado"] != null)
            {

                <a href="@Url.Action("", "Cliente")">
                <li>
                    <span class="material-symbols-outlined">
                        badge
                    </span>
                    Conta
                </li>
                </a>

                <a href="@Url.Action("AgendamentosConta", "Cliente", new { id = Session["codLogado"]}) ">
                <li>
                    <span class="material-symbols-outlined">
                        event_available
                    </span>
                    Agendamentos
                </li>
                </a>

                <a href="@Url.Action("Logout", "Cliente")">
                <li>
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    Sair
                </li>
                </a>

            }
            else
            {

                <a href="@Url.Action("Login", "Cliente")">
                <li>
                    <span class="material-symbols-outlined">
                        login
                    </span>
                    Entrar
                </li>
                </a>

            }





        </ul>

    </nav>

    @*BANNER*@

    <section class="banner" id="banner">

        <article class="banner-imagem">
        
            <div class="banner-logo">

            </div>

        </article>

    </section>



    @*SESSÃO NOSSOS SERVIÇOS*@



        <section class="section-servicos" id="servicos">

            <h1 class="title-servico">Nossos serviços</h1>

            <main class="cards-servicos">
                    <div class="card-servico">
                        <img src="~/imgs/icons/tesoura.png" />
                        <div>
                            <h1>Corte</h1>
                            <p>Às vezes nem é tristeza, sabia? Você só precisa ficar na régua!</p>
                            <p class="preco">R$45,00</p>
                        </div>
                    </div>

                    <div class="card-servico">
                        <img src="~/imgs/icons/barba.png" />
                        <div>
                            <h1>Barba</h1>
                            <p>Um homem com sua barba bem cuidada não quer guerra com ninguém.</p>
                            <p class="preco">R$45,00</p>
                        </div>
                    </div>

                    <div class="card-servico">
                        <img src="~/imgs/icons/navalha.png" />
                        <div >
                            <h1>Corte e Barba</h1>
                            <p>Às vezes nem é tristeza, sabia? Você só precisa ficar na régua!</p>
                            <p class="preco">R$45,00</p>
                        </div>
                    </div>
            </main>

            @Html.ActionLink("Agendar agora", "FormAgendamento", "Agendamento" ,null, new { @class = "agendar-button"})

        </section>


    @*SESSÃO SOBRE-NOS*@

    <div id="sobre"></div>

    <section class="section-sobre-nos"  >
        <main >
            <div>
                <h1>Quem somos?</h1>
                <p>
                    Bem-vindo à Barbearia Paulista, onde a tradição e a modernidade encontram-se para proporcionar uma experiência singular em cuidados masculinos.

                    Fundada com uma paixão profunda por tradição e excelência, a Barbearia Paulista não é apenas um lugar onde os homens vêm para um corte de cabelo ou um barbear. Aqui, celebramos um legado que atravessa gerações.

                    Nossa história é enraizada no coração de São Paulo, uma cidade que pulsa inovação, cultura e sofisticação. E é dessa mistura vibrante que extraímos nossa inspiração diária.
                </p>
            </div>
        </main>
        <figure>

        </figure>
    </section>



    @*SECTION ONDE ESTAMOS*@



            <section class="section-localizacao" id="localizacao">

                    <h1 class="title-localizacao">Onde estamos?</h1>

                    <div class="div-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.053690563623!2d-46.6513610569813!3d-23.566515099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59b8c06ff15d%3A0x733d66194814e334!2sAv.%20Paulista%2C%20742%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001310-100!5e0!3m2!1spt-BR!2sbr!4v1698253785731!5m2!1spt-BR!2sbr"
                                width="1000px"
                                height="600px"
                                frameborder="0">
                        </iframe>
                    </div>

            </section>




    @*FOOTER*@


    <footer>

        <nav>
            <ul>
                <li><a href="">Email</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">WhatsApp</a></li>
            </ul>
           
        </nav> 

        <div class="footer-hr"></div>


        <figure>
            <div class="logo-footer"></div>
            
        </figure>

       


    </footer>



</body>


</html>

    <script>

        const header = document.querySelector('.header')

        window.addEventListener("scroll", () => {

            header.classList.toggle('scroll', window.scrollY > 7)
        });

        const menuHambuguer = document.querySelector("#menu-hamburguer")

        menuHambuguer.addEventListener("click", () => {

            let nav = document.querySelector(".navMobile")
            menuHambuguer.classList.toggle("hamburguerActive")
            nav.classList.toggle('active')
        })

        function fecharNav() {
            let nav = document.querySelector(".navMobile")
            let input = document.querySelector("#menu-hamburguer")
            input.checked = false;
            nav.classList.toggle('active')
        }

        const fecharMobile = () => {
            let nav = document.querySelector(".navMobile")
            nav.classList.remove('active')
            removerFundo()
        }


        /*SCRIPT PARA O MODAL USUARIO*/

        const modal = document.querySelector(".modal-usuario");
        const textLogado = document.querySelector(".text-logado");

        function showModal() {
            modal.classList.add("modal-active");

        }

        function hiddenModal() {
            modal.classList.remove("modal-active");
        }



    </script>