
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/AgendamentosContaStyle.css" media="screen" />
    <title>AgendamentosConta</title>
</head>
<body>


    @if (@ViewBag.QuantidadeHorarios > 1)
    {
        <h1> Você possui @ViewBag.QuantidadeHorarios horários marcados!  </h1>

    }
    else
    {
        <h1> Você possui @ViewBag.QuantidadeHorarios horário marcado!  </h1>
    }

    @if (ViewBag.HorariosMarcadosConta != null)
    {
        <main>

            @foreach (var horarioMarcado in ViewBag.HorariosMarcadosConta)
            {

                <div class="div-agendamento">

                    <h2>@horarioMarcado.servico</h2>
                    <div class="agendamento-info">
                        <p>@*@horarioMarcado.data*@04/12</p>
                        <p>@*@horarioMarcado.horas*@16:00</p>
                        <p><b>R$@horarioMarcado.preco,00</b></p>
                    </div>

                </div>

            }
        </main>
    }
    else
    {
        <div>
            <h2>Nenhum horário encontrado!</h2>
        </div>

    }
            @Html.ActionLink("Agendar agora", "FormAgendamento", "Agendamento", null, new { @class = "agendar-button" })

</body>
</html>
