@model TCCBarbearia.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Conta</title>
</head>
<body>
    <div>

        @using (Html.BeginForm("Conta", "Cliente", FormMethod.Post))
        {

            @Html.TextBoxFor(model => model.nome_usu, new { @class = "form-control", value = @Session["nomeLogado"] })
            @Html.TextBoxFor(model => model.email_usu, new { @class = "form-control", type="email", value = @Session["emailLogado"] })
            @Html.TextBoxFor(model => model.tel_usu, new { @class = "form-control", type = "tel", value = @Session["telLogado"] })
            @Html.TextBoxFor(model => model.senha, new { @class = "form-control", type = "password", value = @Session["senhaLogado"] })


            <input type="submit" value="Alterar" />

        }



    </div>
</body>
</html>
