@model TCCBarbearia.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/ContaPage.css" media="screen" />
    <title>Conta</title>
</head>
<body>


    <h1>Sua Conta</h1>

    @using (Html.BeginForm("Conta", "Cliente", FormMethod.Post))
    {

        <div>

            <input type="text" value="@Session["nomeLogado"]" />
            @Html.EditorFor(x => x.nome_usu, new
       {
           htmlAttributes = new
           {

            id = "txtNome",
            senha = "txtNome",
            type = "text",
            value = Session["nomeLogado"],
            @class = "",
            placeholder = "Nome",
            required = "required",
            maxLength = "50"

           }
       })

        </div>

        <div>

            <input type="text" value="@Session["emailLogado"]" />
            @Html.EditorFor(x => x.email_usu, new
          {
              htmlAttributes = new
              {

                      id = "txtEmail",
                      senha = "txtEmail",
                      type = "email",
                      value = Session["emailLogado"],
                      @class = "",
                      placeholder = "Email",
                      required = "required",
                      maxLength = "50"

              }
          })

        </div>


        <div>
            <input type="text" value="@Session["telLogado"]"/>
            @Html.EditorFor(x => x.tel_usu, new
       {
           htmlAttributes = new
           {
               id = "txtTel",
               type = "text",
               value = Session["telLogado"],
               @class = "",
               placeholder = "Telefone",
               required = "required",
               maxLength = "50"
           }
       })

        </div>


        <div>

            <input type="text" value="@Session["senhaLogado"]" />
            @Html.EditorFor(x => x.senha, new
           {
               htmlAttributes = new
               {

                       id = "txtsenha",
                       type = "text",
                       @value = "Session['senhaLogado']",
                       @class = "",
                       placeholder = "Senha",
                       required = "required",


               }

           })

        </div>

        <button class="btn-salvar">Salvar</button>
        <p style="text-align:center">Voltar para o @Html.ActionLink("Menu", "Index", "Home") </p>

    }




</body>
</html>
