
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h1>Agendamentos</h1>

<div class="agendamentos">




    @if (ViewBag.HorariosList != null)
    {
        foreach (var horario in ViewBag.HorariosList)
        {

            <div class="card-agendamento">

               

            <form class="form-detalhes-agendamento">


                <div>
                    <label>Serviço</label>
                    <input type="text" value="@horario.servico" readonly />
                </div>

                <div>
                    <label>Preço</label>
                    <input type="text" value="@horario.preco" readonly />
                </div>


                <div>
                    <label>Data marcada</label>
                    <input type="text" value="@horario.data" readonly />
                </div>

                <div>
                    <label>Horário</label>
                    <input type="text" value="@horario.horas" readonly />
                </div>


            </form>

            <div class="btn-excluir-agendamento">
               
                @Html.ActionLink("Detalhes", "AdminDetalhesCorte", "Admin", new { idAgendamento = horario.cod_agendamento, @class = "card-button-detalhes" }, null)
            </div>

            </div>


        }
    }
    else
    {
        <h1>Nenhum Horário marcado!</h1>
    }


</div>

