
@{
    ViewBag.Title = "AdminClientesCadastrados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminDetalhesCorte</title>
</head>
<body>
    <div class="detalhes-agendamento">





        @foreach (var horario in ViewBag.HorarioMarcado)
        {
            <form class="form-detalhes-agendamento">

                <div>
                    <label>Cliente</label>
                    <input type="text" value="@horario.nome_usu" readonly />
                </div>

                <div>
                    <label>Serviço</label>
                    <input type="text" value="@horario.servico" readonly/>
                </div>

                <div>
                    <label>Telefone</label>
                    <input type="text" value="@horario.tel_usu" readonly/>
                </div>

                <div>
                    <label>Preço</label>
                    <input type="text" value="@horario.preco" readonly/>
                </div>


                <div>
                    <label>Data marcada</label>
                    <input type="text" value="@horario.data" readonly/>
                </div>

                <div>
                    <label>Horário</label>
                    <input type="text" value="@horario.horas" readonly/>
                </div>


            </form>

            <div class="btn-excluir-agendamento">
                @*<a onclick="openModalExcluir()">Excluir</a>*@
                 @Html.ActionLink("Excluir horário", "AdminDeletar", "Admin", new { idAgendamento = horario.cod_agendamento, @class = "btn-excluir-agendamento" }, null)
            </div>
        }






    </div>
</body>

    <script src="~/Scripts/ModalExcluirAgendamento.js"></script>

</html>
