
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminHome</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/AdminHomeStyles - Cópia - Cópia .css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/ModalSair.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/ModalExcluir.css" media="screen" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>


    <section class="sidebar">


        <img src="~/imgs/BarbeariaLogo.png" />

        <ul>

            <a href="@Url.Action("AdminHome", "Admin")">

            <li>
                <span class="material-symbols-outlined">
                    pending_actions
                </span>
                Agendamentos
            </li>
            </a>

            <a href="@Url.Action("AdminClientesCadastrados", "Admin")">
            <li>
                <span class="material-symbols-outlined">
                    group
                </span>
                Clientes
            </li>
            </a>

            <a onclick="openModal()">
            <li>
                <span class="material-symbols-outlined">
                    logout
                </span>
                Sair
            </li>
            </a>

        </ul>

    </section>

    @*MODAL SAIR*@

    <div class="fundo-preto">
        <div class="modal-sair">



            <div>
                <h2>Certeza que deseja fazer Logout?</h2>
            </div>


            <div class="div-btns">
                <a onclick="fecharModal()" class="btn-cancelar">
                    Cancelar
                </a>

                <a href="@Url.Action("Logout", "Cliente")" class="btn-sair">
                    Sair
                </a>
            </div>

        </div>
    </div>

       @*MODAL EXCLUIR AGENDAMENTO*@

    @*<div class="fundo-preto-excluir">
        <div class="modal-excluir">



            <div>
                <h2>Certeza que deseja excluir esse agendamento?</h2>
            </div>


            <div class="div-btns">
                <a onclick="fecharModalExcluir()" class="btn-cancelar">
                    Cancelar
                </a>

                <a href="@Url.Action("AdminDeletar", "Admin")" class="btn-sair">
                    Excluir
                </a>
            </div>

        </div>
    </div>*@



    <main class="main">

        <header>
            <h3>Bem vindo Admin!</h3>
        </header>

        <section class="section-main">

            @RenderBody()


        </section>

    </main>

    <script src="~/Scripts/ModalSairScript.js"></script>

</body>
    
</html>
